SECRET_KEY=troque-esta-chave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.railway.app
CSRF_TRUSTED_ORIGINS=https://*.railway.app

POSTGRES_DB=aureum
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Alternativa para deploy:
# DATABASE_URL=postgres://usuario:senha@host:5432/aureum
